
<div class="login">
<img class="logo" src="images/logo_turm_web-gross.png" alt="Last Plant">
</div>

<div id="machine"><img src="images/startimage_machine_kleiner.png"></div>


		<h3 class="registrieren"><a href="<%= @oauth.url_for_oauth_code(:permissions => "publish_stream, email") %>"><img src="/images/login-button.png"></a></h3>
		
		<%= form_for(:session, :url => sessions_path, :html => { :class => "loginform"}) do |f| %>
		<h4>Sign in</h4>
		  <div class="field">
			<%= f.label :email %>
			<%= f.text_field :email %>
		  </div>
		  <div class="field">
			<%= f.label :password %>
			<%= f.password_field :password %>
		  </div>
		  <div class="actions">
			<%= f.submit "Sign in" %>
		  </div>
		  
		  <class="signup">New user? <%= link_to "Sign up for free!", signup_path %></p>
		<% end %>
		
		cookie: <%= cookies %><br>
		user: <%= current_user %><br>
        session: <%= session[:fb_id].nil? %>
        
		
	
	








