<% if !signed_in? %>

  <div class="login">
    <img class="logo" src="images/logo_turm_web-gross.png" alt="Last Plant">
  </div>

  <div id="machine"></div>
    <div id="start_box">
    <p>
    Do you like to save the <span class="highlight">last plants</span> to survive or do you want to help the <span class="highlight">machines</span> to rule the world?
    </p>

  <%= form_for(:session, :url => sessions_path, :html => { :class => "loginform"}) do |f| %>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div class="actions">
      <%= f.submit "" %>
    </div>
    <p class="signup">New user? <%= link_to "Sign up for free!", signup_path %></p>
  <% end %>

  <p class="highlight nosignup">Don't want to signup?</p>
  <h3 class="registrieren">
    <a href="<%= $oauth.url_for_oauth_code(:permissions => "publish_stream, email") %>"><img src="/images/login-button.png"></a>
  </h3></div>
<% end %>        
