<h1>Profile</h1>

<table class="profile" summary="Profile information">
  <tr>
  
    <td class="main">
      <h1>
        <%= gravatar_for(@user) %>
        <%= @user.name %>
		
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Name: </strong> <%= @user.name %><br />
      <strong>URL: </strong>  <%= link_to user_path(@user), user_path(@user) %><br />
      <strong>Whole URL: </strong><%= user_url(@user) %>
	</td>

	

  </tr>
</table>


    <p>
		Hello <%=@user.name%> Make your decision.
    </p>

#FACEBOOK ID - TOKEN

<% if session[:fb_id] %>
<p><%= session[:fb_id] %></p>
<p><%= current_user %></p>
<%end%>
