<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
   <title><%= title %></title>
    <%= csrf_meta_tag %>
	
	<%= render 'layouts/stylesheets' %>

	<%if(request.fullpath != '/maps/new') %>
        <%= javascript_include_tag :defaults %>
    <% end %>
>>>>>>> 7a60b50de474a496e1d46c59e02d0fda8dd1713e
    <%= yield :scripts %>

</head>
<body>
  <%= render 'layouts/header' %>
  	<%if signed_in? %>
    <div class="content">
	<%end%>
	
		<% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>

        <%= yield %>
   
	  	<%= render 'layouts/footer' %>
	  	<%= debug(params) if Rails.env.development?
		%>
 	 <%if signed_in?%>
    </div>
	<%end%>
  </body>
</html>
